#sidebar-nav {
    /*
    position: sticky;
    top: 4rem;
    */
    margin-top: 1em;
    height: calc(100vh - 4rem);
    overflow-y: auto;
    font-size: .75rem;
}

#sidebar-nav h1 { font-size: 1em; }

.section-nav {
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #eee;
}

.section-nav ul { padding-left: 1rem; }
.section-nav li { display: block; }
.section-nav a { display: block; padding: .125rem .5rem; color: #99979c; }
.section-nav span { display: block; padding: .125rem .5rem; color: #99979c; }

#header {
    background-image: url("../images/banner.jpg");
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #6cc6e0;
}

mark {
    background-color: #C00;
    color: white;
}

/* TABLEAUX STANDARDS */

table tr {
    border-bottom: 1px solid #999;
}

table th,
table td {
    padding: 1px 6px 1px 6px;
}

table tr:first-of-type {
    background-color: #666;
    color: #ddd;
    font-weight: bold;
    border-bottom: 1px solid black;
}

table tr:nth-child(2n+3) {
    background-color: #CCC;
}

/* BLOCS POURS DONS, SORTS, ... */

blockquote.bloc {
    border: 1px solid #BBB;
    padding: 0.5rem;
}

blockquote.bloc h3 {
    background-color: #666;
    color: #fff;
    font-size: 1.3rem;
    margin: -.5rem -.5rem 0 -.5rem;
    padding: .3rem;
}

blockquote.bloc.action1 h3::before {
    background-image:url("../images/action.png");
    background-size: 34px 24px;
    display: inline-block;
    width: 34px;
    height: 24px;
    margin: 0 0.2rem 0 0;
    padding: 0;
    vertical-align: bottom;
    content: "";
}

blockquote.bloc.action2 h3::before {
    background-image:url("../images/action.png");
    background-size: 34px 24px;
    display: inline-block;
    width: 68px;
    height: 24px;
    margin: 0 0.2rem 0 0;
    padding: 0;
    vertical-align: bottom;
    content: "";
}

blockquote.bloc h3 strong {
    float: right;
    font-weight: normal;
}

blockquote.bloc hr {
    margin: 0;
    margin-top: -0.8rem;
}

blockquote.bloc :last-child {
    margin-bottom: 0;
}

/* EN BREF */

.enbref {
    border: solid 1px #BBB;
    padding: 0.5rem;
}

.enbref h3 {
    font-size: 1.4rem;
    margin: -.5rem;
    margin-bottom: 0;
    padding: .3rem;
    background-color: #666;
    color: #fff;
}

.enbref ul {
    padding-left: 1rem;
}

.enbref :last-child {
    margin-bottom: 0;
}


/* ANCIENNES RÈGLES */

blockquote.spell,
blockquote.feat,
blockquote.trait {
    border: solid 1px #BBB;
    padding: 0.5rem;
}

blockquote.spell h3,
blockquote.feat  h3,
blockquote.trait h3 {
    font-size: 1.4rem;
    margin: -.5rem;
    margin-bottom: 0;
    padding: .3rem;
    background-color: #666;
    color: #fff;
}

blockquote.spell p:last-child,
blockquote.feat  p:last-child,
blockquote.trait p:last-child {
    margin-bottom: 0
}