<footer class="site-footer h-card navbar border-top">

  <div class="wrapper">
    <p class="small text-muted">
      Pathfinder-RPG est une création de <a href="http://paizo.com/">Paizo Publishing</a>.<br/>
      Ce site se base sur les licences <a href="http://www.pathfinder-fr.org/Wiki/OGL.ashx">Open Game License</a> et <a href="http://www.pathfinder-fr.org/Wiki/PCUP.ashx">Pathfinder Community Use Policy</a>.
    </p>
  </div>

</footer>
