<nav id="header" class="navbar navbar-expand-lg navbar-light"> <!-- removed .bglight -->
  <div class="container">
      <a class="navbar-brand" href="http://www.pathfinder-fr.org">Règles du Playtest de Pathfinder 2e édition</a>
  </div>
</nav>