<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ '/index.html' | relative_url }}"><strong>Menu principal</strong></a>
        </li>
        <li>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Listes
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ '/listes/ascendances.html' | relative_url }}">Liste des ascendances</a>
                <a class="dropdown-item" href="{{ '/listes/classes.html' | relative_url }}">Liste des classes</a>
                <a class="dropdown-item" href="{{ '/listes/prétirés.html' | relative_url }}">Liste des prétirés</a>
            </div>
        </li>
    </ul>

    <!--
    <h1>Menu principal</h1>
    <ul class="section-nav">
        <li>
            <span>Personnages Iconiques</span>
            <ul>
                <li><a href="{{ '/iconiques/fumbus.html' | relative_url }}">Fumbus l'alchimiste</a></li>
                <li><a href="{{ '/iconiques/kyra.html' | relative_url }}">Kyra la prêtresse</a></li>
            </ul>
        </li>
    </ul>
    <h1>Menu secondaire</h1>
    <ul class="section-nav">
        <li>
            <span>Classes</span>
            <ul>
                <li><a href="/classes/alchimiste.html">Achimiste</a></li>
            </ul>
        </li>
        <li>
            <span>Personnages icôniques</span>
            <ul>
                <li><a href="/iconiques/fumbus.html">Fumbus</a></li>
            </ul>
        </li>
    </ul>
    -->
</nav>