---
layout: default
---
{{ content }}
{% assign my_collection = site[page[collection]] | sort: 'title' %}
<table>
    <tr>
        <th>Nom</th>
        {% for col in page.colonnes %}
            <th> {{col.titre}} </th>
        {%- endfor -%}
        {% if page.inclureSource %}
            <th>Source</th>
        {%- endif -%}
    </tr>
    {% for item in my_collection %}
        <tr>
            <td><a href="{{ item.url }}">{{ item.title }}</a></td>
            {% for col in page.colonnes %}
                <td>
                {% if col.estMultiligne %}
                    {% for ligne in col.lignes %}
                        {% if ligne != col.lignes.first %}
                            <br/>
                        {%- endif -%}
                        <strong>{{ ligne.titre }}</strong> :
                        {{ item[ligne.attribut] }}
                    {%- endfor -%}
                {% elsif col.estListe %}
                    {{ item[col.attribut] | join: col.separateur }}
                {% else %}
                    {{ item[col.attribut] }}
                {%- endif -%}
                </td>
            {%- endfor -%}
            {% if page.inclureSource %}
                <td> {{item.source}} </td>
            {%- endif -%}
        </tr>
    {%- endfor -%}
</table>
